@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
  line-height: 2rem;
}

a {
  padding: 0.2rem;
  text-decoration: none;
  color: white;
  display: inline-block;
}

a:hover {
  color: aqua;
}

.btn-wrap {
  background-color: white;
  color: black;
  display: inline-block;
  border: 1px solid red;
  height: 40px;
  width: 120px;
}

ul {
  list-style-type: none;
}

nav {
  max-width: 90%;
  margin: 30px auto 50px;
}

.nav {
  font-size: 1.1rem;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}

.hero {
  display: flex;
  width: 88%;
  margin: 100px auto 0;
  justify-content: space-between;
}

.hero-info {
  width: 50%;
  /* line-height: 5rem; */
  position: relative;
}

.hero-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.h1-wrap {
  background-color: #2b2b2b;
  border-radius: 20px;
  position: relative;
  left: -110px;
  padding: 14px 20px 14px 110px;
}

.hero-info h1 {
  font-size: 2.5rem;
  color: #81a1f3;
}

.hero-info p {
  margin-top: 10px;
  line-height: 1.6rem;
  font-size: 1.3rem;
}

.img-container {
  width: 450px;
  height: 400px;
  background-color: white;
  position: relative;
}

.img-container img {
  top: -2rem;
  left: -2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
