@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

:root {
  --primary: #121212;
  --secondary: #f5ecec;
}

*::after::before {
  content: "";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--secondary);
  background-color: var(--primary);
}

.hide {
  display: none;
}

.btn {
  padding: 10px 15px;
  font-size: 1.5rem;
  border: none;
  color: var(--secondary);
  background-color: var(--primary);
}

.btn:hover {
  color: grey;
  cursor: pointer;
}

.container {
  /* border: 1px solid red; */
  /* padding: rem; */
  max-width: 90vw;
  margin: 0 auto;
}

.header {
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 20px;
}

nav {
  position: relative;
}

nav h1 {
  font-size: 2rem;
}

.main-nav {
  list-style-type: none;
  width: 90vw;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--primary);
  transition: height 2s linear;
}

.main-nav.container {
  flex-direction: column;
  padding: 0;
}

.main-nav li {
  width: 100%;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 1.2rem;
  max-width: 90vw;
}

.nav-link {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: var(--secondary);
  /* border: 1px solid blue; */
}

.nav-link:hover {
  background-color: gray;
}

.nav-link:focus {
  background-color: gray;
}

main.container {
  border: 1px solid red;
}
