@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

:root {
  --primary: #121212;
  --secondary: #f5ecec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.hide {
  display: none;
}

.btn {
  padding: 10px;
  font-size: 1.5rem;
}

.container {
  border: 1px solid red;
  padding: 1rem;
  max-width: 90vw;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
}

nav {
  position: relative;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 2rem;
}

.main-nav {
  list-style-type: none;
  width: 90vw;
  position: absolute;
  left: 0;
  top: 100%;
}

.main-nav.container {
  flex-direction: column;
  padding: 0;
}

.main-nav li {
  width: 100%;
  border: 1px solid green;
  text-align: center;
  font-size: 1.2rem;
  max-width: 90vw;
}

.nav-link {
  padding: 10px;
  display: block;
  text-decoration: none;
  border: 1px solid blue;
}
